.row{

    margin-left: 20px;
    color: #fff;

}
.posters{

    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
   
    
}
.posters::-webkit-scrollbar{
    display: none;
}
.poster{
    cursor: pointer;
    max-height: 250px;
    margin-right: 10px;
    
}
.smallposters{

    cursor: pointer;
    max-height: 180px;
    margin-right: 10px;
    
}

.poster:hover{
    transform: scale(1.2);
}
.smallposters:hover{
    transform: scale(1.2);
}

